<!DOCTYPE html>
<html>
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="Description" content="">
    <title>echarts</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
      html,body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;

      }
      #main {
        height: 100%;
      }
    </style>
    <script src="echarts.js"></script>
    <script src="zRender.js"></script>
  </head>
  
  <body>
    <div id="main" ></div>
    <script>
      // 基于准备好的dom，初始化echarts实例
      
    </script>
  <body>
<html>